@use '../setting/color' as *;
@use '../setting/font' as *;
@use '../setting/mixin' as *;


.top-con{
    height: 92vh;
    background-color: $color-main;
    color: white;
    // text-align: center;

    display: flex;
    flex-direction: row;

    &-left{
        width: 60%;
        padding: 2rem;
        @include flexColCenter();
        
        &-location{
            @include alignFlexCenter;
            margin-bottom: 1rem;
            ion-icon{
                font-size: 2.5rem;
            }
            h5{
                padding-left: 1rem;
            }
        }
        &-me{

            h1{
                font-family: $font-title;
                margin-bottom: 1.5rem;
            }
            h5{
            }
        }
        
    }
    &-right{
        width: 40%;

        @include flexColCenter();
        align-items: center;

        &-pic{
            margin-left: 3rem;
            background-color: $color-second;
            width: 20rem;
            height: 20rem;

            border-radius: 50%;
            @include alignFlexCenter;

        }
    }
}
