@use '../setting/color' as *;
@use '../setting/font' as *;
@use '../setting/mixin' as *;


.top-con{
    height: 92vh;
    background-color: rgba(156, 156, 156, 0.7);
    color: white;
    text-align: center;

    display: flex;
    flex-direction: row;

    &-left{
        width: 60%;

        @include flexColCenter();
        
        &-con{
            height: 70%;
            width: 90%;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            
        }

        &-disc{
            width: 90%;
            
            display: flex;

            &-con{
                width: 50%;
                height: 2rem;
                @include alignFlexCenter;
                padding-left: 1rem;
            }
        }
        
    }
    &-right{
        width: 40%;

        @include flexColCenter();

        &-list{
            margin-right: 30%;
            text-align: left;

            &-each{
                margin-top: 2rem;
                width: 100%;
               
                a{
                    text-decoration: none;
                    color: white;
                    text-shadow: 0.1rem 0.1rem $color-second;
                    font-size: 2rem;
                    height: 2rem;
                    transition: 0.5s;
                    position: relative;
                }
                a::after{
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    padding-left: 2rem;
                    transition: 0.5s;
                }
                hr{
                    width: 30%;
                    height: 0.2rem;
                    margin-top: -0.3rem;
                    transition: 0.5s;
                }

                &:hover{
                    a::after{

                        opacity: 1;

                    }
                    hr{
                        width: 60%;
                    }
                }


            }
        }
    }
}
