@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/mixin" as *;

.about-con {
  height: 84vh;
  margin: 4vh;
  background-color: rgba(255, 255, 255, 0.459);
  &-top {
    display: flex;
    justify-content: right;
    padding: 0.5rem 0 0 0;
    height: 10%;
    &-resume {
      ul {
        width: 40%;
        margin: 0 auto;

        @include alignFlexCenter;
        justify-content: space-around;

        li {
          list-style-type: none;
          margin-left: 2rem;
          a {
            text-decoration: none;
            .sns-icon {
              font-size: 2.5rem;
              text-decoration: none;
            }
            .linkdin {
              color: #0177b5;
            }
            .github {
              color: #171515;
            }
          }
        }
      }
    }
  }
  &-below {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;

    &-pic {
      width: 25%;
      height: 100%;
      padding: 5rem;
      a {
        color: #111;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .photo {
        display: block;
        position: absolute;
        width: 200px;
        height: 280px;
      }
      .photo img {
        width: 200px;
        height: 280px;
        object-fit: cover;
        filter: grayscale(100%) contrast(120%);
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
        display: block;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-top: -10px;
      }
      .photo:hover img {
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
      }
      .photo .glow-wrap {
        overflow: hidden;
        position: absolute;
        width: 200px;
        height: 280px;
        top: 0;
        margin-top: -10px;
      }
      .photo .glow {
        display: block;
        position: absolute;
        width: 40%;
        height: 200%;
        background: rgba(255, 255, 255, 0.2);
        top: 0;
        filter: blur(5px);
        transform: rotate(45deg) translate(-450%, 0);
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      .photo:hover .glow {
        transform: rotate(45deg) translate(450%, 0);
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
      .photo:hover img,
      .photo:hover .glow-wrap {
        margin-top: 0;
      }
      h2 {
        font-family: $font-title;
        position: absolute;
        z-index: 1;
        transform: translate(-25%, -77%);
        margin: 0;
        line-height: 1.2;
      }

      //   ul {
      //     // width: 40%;
      //     // margin: 0 auto;

      //     @include alignFlexCenter;
      //     justify-content: space-around;

      //     li {
      //       list-style-type: none;
      //       margin-left: 2rem;
      //       a {
      //         text-decoration: none;
      //         .sns-icon {
      //           font-size: 2.5rem;
      //           text-decoration: none;
      //         }
      //         .linkdin {
      //           color: #0177b5;
      //         }
      //         .github {
      //           color: #171515;
      //         }
      //       }
      //     }
      //   }
    }
    &-des {
      width: 75%;
      height: 100%;

      &-summary {
        padding: 1rem 2rem 0 2rem;
      }
      &-skill {
        padding: 1rem 2rem 0 2rem;
        h3 {
          font-family: $font-title;
          margin-bottom: 1rem;
        }
        &-con {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .skill-logo {
            font-size: 3rem;
            background-color: rgba(255, 255, 255, 0.623);
            .logo {
              margin-right: 1rem;
            }

            .ImHtmlFive {
              color: #e34c26;
            }
            .ImCss3 {
              color: #264de4;
            }
            .SiJavascript {
              color: #f0db4f;
            }
            .SiReact {
              color: #61dbfb;
            }
            .FaNodeJs {
              color: #8fc53f;
            }

            .IoLogoSass {
              color: #cd6799;
            }
            .SiTailwindcss {
              color: #43a6b3;
            }
            .SiBootstrap {
              color: #553c7b;
            }
            .SiRedux {
              color: #7348b6;
            }
            .SiExpress {
              color: black;
            }
          }
        }
      }
      &-education {
        padding: 1rem 2rem 0 2rem;
        h3 {
          font-family: $font-title;
          margin-bottom: 1rem;
        }
        &-con {
          width: 100%;
          .grid {
            display: grid;
            grid-template-columns: 10% 50% 40%;
            background-color: rgba(255, 255, 255, 0.623);
          }
        }
      }
    }
  }
}
