@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/mixin" as *;

.about-con {
  height: 84vh;
  margin: 4vh;
  background-color: rgba(255, 255, 255, 0.459);
  &-top {
    padding: 0.5rem 0 0 0;
    height: 10%;
    &-resume {
      display: flex;
      flex-direction: row;
      justify-content: right;

      &-resumelink {
      }

      &-linkCont {
        @include alignFlexCenter;
        margin: auto 2rem;

        justify-content: space-around;

        padding: 0;

        li {
          list-style-type: none;
          &:first-child {
            margin-right: 2rem;
          }
          a {
            text-decoration: none;
            .sns-icon {
              font-size: 2.5rem;
              text-decoration: none;
            }
            .linkdin {
              color: #0177b5;
            }
            .github {
              color: #171515;
            }
          }
        }
      }
    }
  }
  &-below {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;

    &-pic {
      width: 25%;
      height: 100%;
      padding: 5rem;
      position: relative;

      &-absolute {
        width: 100%;

        &-picCont {
          a {
            color: #111;
            width: 100%;
            height: 100%;
            position: relative;
          }
          .photo {
            display: block;
            position: absolute;
            @include aboutPicWidHei;

            & img {
              @include aboutPicWidHei;
              object-fit: cover;
              filter: grayscale(100%) contrast(120%);
              box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
              display: block;
              transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
              margin-top: -10px;
            }
            &:hover img {
              box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
            }
            & .glow-wrap {
              overflow: hidden;
              position: absolute;
              @include aboutPicWidHei;
              top: 0;
              margin-top: -10px;
            }
            & .glow {
              display: block;
              position: absolute;
              width: 40%;
              height: 200%;
              background: rgba(255, 255, 255, 0.2);
              top: 0;
              filter: blur(5px);
              transform: rotate(45deg) translate(-450%, 0);
              transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
            &:hover .glow {
              transform: rotate(45deg) translate(450%, 0);
              transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
            &:hover img,
            &:hover .glow-wrap {
              margin-top: 0;
            }
          }

          h2 {
            font-family: $font-title;
            position: absolute;
            z-index: 1;
            transform: translate(-25%, -77%);
            margin: 0;
            line-height: 1.2;
          }
        }
      }
    }
    &-des {
      width: 75%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &-summary {
        padding: 1rem 2rem 0 2rem;
      }
      &-skill {
        padding: 1rem 2rem 0 2rem;
        h3 {
          font-family: $font-title;
          margin-bottom: 1rem;
        }
        &-con {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          &-con1 {
          }
          &-con2 {
          }
          .skill-logo {
          }
          .skill-logo {
            font-size: 3rem;
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.623);
            .logoflexbox {
              display: flex;
              flex: row wrap;
              justify-content: space-between;
            }
            .logo {
              margin-right: 1rem;
              &:last-child {
                margin-right: 0;
              }
            }

            .ImHtmlFive {
              color: #e34c26;
            }
            .ImCss3 {
              color: #264de4;
            }
            .SiJavascript {
              color: #f0db4f;
            }
            .SiReact {
              color: #61dbfb;
            }
            .FaNodeJs {
              color: #8fc53f;
            }

            .IoLogoSass {
              color: #cd6799;
            }
            .SiTailwindcss {
              color: #43a6b3;
            }
            .SiBootstrap {
              color: #553c7b;
            }
            .SiRedux {
              color: #7348b6;
            }
            .SiExpress {
              color: black;
            }
          }
        }
      }
      &-education {
        padding: 1rem 2rem 0 2rem;
        h3 {
          font-family: $font-title;
          margin-bottom: 1rem;
        }
        &-con {
          width: 100%;
          .grid {
            display: grid;
            grid-template-columns: 10% 50% 40%;
            background-color: rgba(255, 255, 255, 0.623);
          }
        }
      }
    }
  }
}

/* Normal(1) */
@media (min-width: 1054px) and (max-width: 1200px) {
  .about-con {
    &-top {
      &-resume {
        display: flex;
        flex-direction: row;
        justify-content: right;

        &-resumelink {
        }

        &-linkCont {
          li {
            &:first-child {
            }
            a {
              .sns-icon {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    &-below {
      &-pic {
        &-absolute {
          &-picCont {
            a {
            }
            .photo {
              @include aboutPicWidHei;

              & img {
                @include aboutPicWidHei;
              }
              &:hover img {
              }
              & .glow-wrap {
                @include aboutPicWidHei;
              }
            }

            h2 {
              font-size: 1.8rem;
            }
          }
        }
      }
      &-des {
        &-summary {
          h4 {
            font-size: 1.3rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        &-skill {
          h3 {
          }
        }
        &-education {
          h3 {
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
          }
          &-con {
          }
        }
      }
    }
  }
}

/* Normal(2) */
@media (min-width: 769px) and (max-width: 1053px) {
  .about-con {
    &-top {
      &-resume {
        &-resumelink {
        }
        &-linkCont {
          @include alignFlexCenter;
        }
      }
    }
    &-below {
      position: relative;
      &-pic {
        width: 35%;

        &-absolute {
          &-picCont {
            a {
            }
            .photo {
              @include aboutPicWidHei;

              & img {
                @include aboutPicWidHei;
              }
              &:hover img {
              }
              & .glow-wrap {
                @include aboutPicWidHei;
              }
            }

            h2 {
              // position: absolute;
              // z-index: 1;
              // transform: translate(-25%, -77%);
              // margin: 0;
              // line-height: 1.2;
              font-size: 1.8rem;
            }
          }
        }
      }
      &-des {
        width: 65%;

        &-summary {
          padding: 0.5rem 1rem 0 1rem;

          h4 {
            font-size: 1.3rem;
          }
          p {
            font-size: 0.9rem;
          }
        }

        &-skill {
          padding: 1rem 2rem 2rem 2rem;
          position: absolute;
          bottom: 0;
          left: 0;

          width: 35%;

          h3 {
            font-size: 1.3rem;
            word-wrap: break-word;
          }
          &-con {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &-con1 {
              padding-bottom: 0.8rem;
            }
            &-con2 {
            }

            .skill-logo {
              font-size: 2rem;
              padding: 0.5rem;

              .logoflexbox {
              }
              .logo {
                margin-right: 0rem;
              }
            }
          }
        }

        &-education {
          padding: 0.5rem 1rem 0 1rem;
          h3 {
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
          }
          &-con {
            .grid {
              grid-template-columns: 15% 50% 35%;
              h5 {
                font-size: 1rem;
              }
              p {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

/* tablet */
@media (min-width: 501px) and (max-width: 768px) {
  .about-con {
    height: auto;
    margin: 2vh;

    // @media (min-width: 501px) and (max-width: 594px) {
    //   height: 87vh;
    //   margin: 1.5vh;
    // }

    &-top {
      height: auto;
      width: 100%;
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h1 {
        font-family: $font-title;
        padding-left: 1rem;

        @media (min-width: 501px) and (max-width: 553px) {
          font-size: 1.6rem;
        }
      }
      &-resume {
        &-resumelink {
          margin-top: -0.3rem;
        }

        &-linkCont {
          margin: auto 1rem;

          li {
            &:first-child {
              margin-right: 1rem;
            }
            a {
              .sns-icon {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    &-below {
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem 0 1rem 0;
      position: relative;
      &-pic {
        width: 35%;
        height: 100%;
        padding: 5rem;

        position: absolute;
        right: -3%;
        @media (min-width: 742px) and (max-width: 750px) {
          right: -5%;
        }
        @media (min-width: 722px) and (max-width: 741px) {
          right: -5.5%;
        }
        @media (min-width: 690px) and (max-width: 721px) {
          right: -6%;
        }
        @media (min-width: 558px) and (max-width: 690px) {
          right: -5%;
        }
        @media (min-width: 595px) and (max-width: 657px) {
          right: -2.5%;
        }

        @media (min-width: 501px) and (max-width: 594px) {
          right: 10%;
          top: 37%;
        }

        &-absolute {
          width: 100%;

          &-picCont {
            a {
              h2 {
                // font-size: 1.4rem;
                display: none;
                // @media (min-width: 608px) and (max-width: 740px) {
                //   font-size: 1.3rem;
                // }
                // @media (min-width: 595px) and (max-width: 607px) {
                //   font-size: 1.2rem;
                // }
                // @media (min-width: 587px) and (max-width: 594px) {
                //   font-size: 1.4rem;
                // }
              }
            }
            .photo {
              @include aboutPicWidHei;

              & img {
                @include aboutPicWidHei;

                margin-top: -3px;
              }
              &:hover img {
              }
              & .glow-wrap {
                @include aboutPicWidHei;
              }
            }

            h2 {
              font-size: 1.8rem;
            }
          }
        }
      }
      &-des {
        width: 100%;

        &-summary {
          padding: 0.5rem 1rem 0 1rem;
          width: 80%;

          @media (min-width: 501px) and (max-width: 594px) {
            width: 100%;
          }

          h4 {
            font-size: 1.1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }

        &-skill {
          padding: 1rem 1rem 0 1rem;
          @media (min-width: 501px) and (max-width: 594px) {
            width: 70%;
          }

          h3 {
            font-size: 1.1rem;
            word-wrap: break-word;
          }
          &-con {
            @media (min-width: 501px) and (max-width: 594px) {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
            }
            &-con1 {
              padding-bottom: 0.8rem;
            }
            &-con2 {
            }

            .skill-logo {
              font-size: 2rem;
              @media (min-width: 501px) and (max-width: 594px) {
                padding: 0.7rem;
                width: 85%;
                // margin: 0 auto;
              }

              h4 {
                font-size: 1.2rem;
              }
              .logoflexbox {
              }
              .logo {
                margin-right: 0.4rem;
                @media (min-width: 501px) and (max-width: 594px) {
                  font-size: 1.3rem;
                  margin-right: 0.3rem;
                }
              }
            }
          }
        }

        &-education {
          padding: 1rem 1rem 0 1rem;
          h3 {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
          }
          &-con {
            width: 100%;
            .grid {
              // display: grid;
              grid-template-columns: 15% 50% 35%;
              // background-color: rgba(255, 255, 255, 0.623);
              h5 {
                font-size: 1rem;
              }

              p {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Smartphone L */
@media (min-width: 376px) and (max-width: 500px) {
  .about-con {
    height: auto;
    margin: 2vh;

    &-top {
      height: 7%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (min-width: 376px) and (max-width: 430px) {
        flex-direction: column-reverse;
      }

      h1 {
        font-family: $font-title;
        font-size: 1.7rem;
        padding-left: 0.8rem;
        @media (min-width: 376px) and (max-width: 430px) {
          padding-top: 1rem;
        }
      }
      &-resume {
        display: flex;
        flex-direction: row;
        justify-content: right;

        &-resumelink {
          margin-top: 0.3rem;
        }

        &-linkCont {
          margin: auto 0.8rem;

          li {
            &:first-child {
              margin-right: 0.8rem;
            }
            a {
              .sns-icon {
                font-size: 1.7rem;
              }
            }
          }
        }
      }
    }
    &-below {
      height: auto;
      flex-direction: column;
      position: relative;
      justify-content: space-between;
      padding: 1rem 0;
      &-pic {
        position: absolute;
        right: 20%;
        top: 35%;
        @media (min-width: 376px) and (max-width: 430px) {
          right: 10%;
          top: 37%;
        }

        &-absolute {
          &-picCont {
            a {
              h2 {
                display: none;
                // font-size: 1.4rem;
                // @media (min-width: 376px) and (max-width: 430px) {
                //   font-size: 1.2rem;
                // }
              }
            }
            .photo {
              @include aboutPicWidHei;

              & img {
                @include aboutPicWidHei;
                margin-top: -3px;
                @media (min-width: 376px) and (max-width: 430px) {
                  margin-top: -1px;
                }
              }
              &:hover img {
              }
              & .glow-wrap {
                @include aboutPicWidHei;
              }
            }

            h2 {
              font-size: 1.8rem;
            }
          }
        }
      }
      &-des {
        width: 100%;

        &-summary {
          padding: 0.5rem 1rem 0 1rem;
          width: 100%;
          h4 {
            font-size: 1rem;
            @media (min-width: 376px) and (max-width: 430px) {
              font-size: 0.8rem;
            }
          }
          p {
            font-size: 0.7rem;
            @media (min-width: 376px) and (max-width: 430px) {
              font-size: 0.6rem;
            }
          }
        }

        &-skill {
          padding: 1rem 1rem 0 1rem;
          width: 70%;

          h3 {
            margin-bottom: 0.8rem;
            font-size: 1.1rem;
            word-wrap: break-word;
            @media (min-width: 376px) and (max-width: 430px) {
              font-size: 0.8rem;
            }
          }
          &-con {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &-con1 {
              padding-bottom: 0.6rem;
              width: 100%;
            }
            &-con2 {
            }

            .skill-logo {
              padding: 0.4rem;
              width: 80%;

              h4 {
                font-size: 1rem;

                @media (min-width: 376px) and (max-width: 430px) {
                  font-size: 0.9rem;
                }
              }
              .logoflexbox {
              }
              .logo {
                margin-right: 0.8rem;

                height: 2rem;
                @media (min-width: 376px) and (max-width: 430px) {
                  height: 1.8rem;
                }
              }
            }
          }
        }

        &-education {
          padding: 1rem 1rem 0 1rem;
          h3 {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
          }
          &-con {
            width: 100%;
            .grid {
              grid-template-columns: 15% 50% 35%;

              h5 {
                font-size: 0.8rem;
              }

              p {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

/* Smartphone S_M */
@media (max-width: 375px) {
  .about-con {
    height: auto;
    margin: 2vh;

    &-top {
      height: 7%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      h1 {
        font-family: $font-title;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 1.4rem;
      }
      &-resume {
        display: flex;
        flex-direction: row;
        justify-content: right;

        &-resumelink {
        }

        &-linkCont {
          margin: auto 0.8rem;

          li {
            &:first-child {
              margin-right: 0.8rem;
            }
            a {
              .sns-icon {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
    &-below {
      flex-direction: column;
      height: auto;
      position: relative;
      &-pic {
        width: 35%;
        height: 100%;
        padding: 5rem;

        position: absolute;
        left: -10%;
        top: -13%;

        &-absolute {
          width: 100%;

          &-picCont {
            a {
              h2 {
                // font-size: 1.4rem;
                display: none;
              }
            }
            .photo {
              @include aboutPicWidHei;

              & img {
                @include aboutPicWidHei;

                margin-top: -3px;

                display: none;
              }
              &:hover img {
              }
              & .glow-wrap {
                @include aboutPicWidHei;
              }
            }

            h2 {
              font-size: 1.8rem;
            }
          }
        }
      }
      &-des {
        width: 100%;
        justify-content: space-between;
        padding: 0 0 1rem 0;
        &-summary {
          padding: 1rem 1rem 0 1rem;

          width: 100%;

          h4 {
            font-size: 0.8rem;
          }
          p {
            font-size: 0.6rem;
          }
        }

        &-skill {
          padding: 1rem 1rem 0 1rem;

          // width: 70%;

          h3 {
            font-size: 0.8rem;
            word-wrap: break-word;
          }
          &-con {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &-con1 {
              padding-bottom: 0.6rem;
              width: 100%;
            }
            &-con2 {
            }

            .skill-logo {
              font-size: 6rem;

              padding: 0.4rem;
              margin: 0 auto;
              width: 90%;

              h4 {
                font-size: 0.8rem;
              }
              .logoflexbox {
              }
              .logo {
                margin-right: 0.8rem;

                font-size: 8rem;
                height: 2rem;
              }
            }
          }
        }

        &-education {
          padding: 1rem 1rem 0 1rem;
          h3 {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
          }
          &-con {
            width: 100%;
            .grid {
              grid-template-columns: 15% 50% 35%;

              h5 {
                font-size: 0.8rem;
              }

              p {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}
