@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/mixin" as *;
@use "../setting/tag" as *;

.project-con {
  height: 92vh;
  // background-color: rgba(156, 156, 156, 0.7);
  color: white;
  text-align: center;

  display: flex;
  flex-direction: row;

  &-left {
    width: 60%;

    @include flexColCenter();

    &-comp {
      height: 70%;
      width: 90%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-disc {
        width: 100%;
        display: flex;
        margin-top: 2rem;

        &-con {
          width: 50%;
          height: 2rem;
          @include alignFlexCenter;
          padding-left: 1rem;
          color: $color-backd;
        }
      }
      &-modal {
        background-color: $color-backd-8;

        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        padding: 2rem;

        @include flexColCenter;
        h2 {
          font-family: $font-title;
          margin-bottom: 1rem;
        }

        &-tag {
          @include tag();
        }
        &-deslink-con {
          width: 100%;
          display: flex;
          flex-direction: row;

          &-description {
            width: 70%;
          }

          &-link {
            width: 30%;

            ul {
              width: 100%;

              display: flex;
              flex-direction: row;
              justify-content: space-around;

              li {
                list-style-type: none;
                a {
                  text-decoration: none;

                  .sns-icon {
                    font-size: 2.5rem;
                    text-decoration: none;
                  }
                  .earth {
                    color: #72b3d6;
                  }
                  .github {
                    color: #171515;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-right {
    width: 40%;

    @include flexColCenter();

    &-list {
      margin-right: 30%;
      text-align: left;
      background-color: rgba(255, 255, 255, 0.473);
      padding: 2rem;

      &-each {
        margin-top: 2rem;
        width: 100%;

        a {
          text-decoration: none;
          color: white;
          text-shadow: 0.1rem 0.1rem $color-second;
          font-size: 2rem;
          height: 2rem;
          transition: 0.5s;
          position: relative;
        }
        a::after {
          content: "\00bb";
          position: absolute;
          opacity: 0;
          padding-left: 2rem;
          transition: 0.5s;
        }
        hr {
          width: 30%;
          height: 0.2rem;
          margin-top: -0.3rem;
          transition: 0.5s;
        }

        &:hover {
          a::after {
            opacity: 1;
          }
          hr {
            width: 60%;
          }
        }
      }
    }
  }
}
