@charset "UTF-8";

@use "page/nav";
@use "page/toppage";
@use "page/projectpage";
@use "page/about";
@use "page/contact";

@use "setting/color" as *;
@use "setting/font" as *;
@use "setting/mixin" as *;
@use "setting/button" as *;

.\? {
  box-shadow: inset 4px 4px rgb(236, 15, 170), inset -4px -4px rgb(236, 15, 170);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: $font-sentence;
}

.app-con {
  height: 100vh;
}

.app-con-background-top {
  background: url("../image/background-top.png") no-repeat right center;
  background-size: contain;
  background-color: $color-main;
}
.app-con-background-project {
  @include backgroundImage(
    url("../image/jess-bailey-rBh0T1QaC1Q-unsplash.jpg")
  );
}
.app-con-background-about {
  @include backgroundImage(url("../image/henry-be-IicyiaPYGGI-unsplash.jpg"));
}
.app-con-background-contact {
  @include backgroundImage(
    url("../image/element5-digital-z6i_UCBuu5Q-unsplash.jpg")
  );
}
