@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/mixin" as *;

.contact-con {
  height: 84vh;
  margin: 4vh;
  color: black;
  display: flex;

  &-form {
    width: 60%;
    height: 100%;
    background-color: $color-backl-5;
    margin-left: 5%;
    padding: 3rem 3rem;

    &-center {
      @include flexColCenter;

      h3 {
        font-family: $font-title;
        padding: 1rem 0;
      }

      &-contactForm {
        font-size: 1.2rem;
        display: grid;

        .form-group {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &-social {
    width: 30%;
    height: 100%;
    padding: 3rem 3rem;
    // background-color: rgba(255, 255, 255, 0.5);

    &-comment {
      margin-bottom: 3rem;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1rem;

      h3 {
        font-family: $font-title;
        margin-bottom: 2rem;
      }
    }

    &-links {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1rem;
      h3 {
        font-family: $font-title;
      }
      ul {
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            .sns-icon {
              font-size: 2.5rem;
              text-decoration: none;
            }
            .linkdin {
              color: #0177b5;
            }
            .github {
              color: #171515;
            }
          }
        }
      }
    }
  }
}
