@use "../setting/color" as *;
@use "../setting/font" as *;
@use "../setting/mixin" as *;

.top-con {
  height: 92vh;
  color: white;

  display: flex;
  flex-direction: row;

  position: relative;

  &-left {
    width: 60%;
    padding: 2rem;
    @include flexColCenter();

    &-location {
      display: flex;
      margin-bottom: 1rem;
      .icon {
        font-size: 2rem;
      }
      h5 {
        padding-left: 1rem;
        margin: auto 0;
      }
    }
    &-me {
      h1 {
        font-family: $font-title;
        margin-bottom: 1.5rem;

        spam {
          margin-left: 2rem;
          padding: 0.3rem 0.5rem;
          font-size: 1.7rem;
          font-family: $font-sentence;
          background-color: $color-third-5;
          border-radius: 2.5rem;
        }
      }
      h5 {
      }
    }
    &-btn {
      padding-top: 2rem;

      a {
        text-decoration: none;
        color: $color-backl;
      }
    }
  }
  &-right {
    width: 35%;

    @include flexColCenter();
    align-items: center;

    &-pic {
      margin-left: 2rem;
      background-color: $color-second;
      width: 25rem;
      height: 25rem;
      position: relative;

      border-radius: 50%;
      @include alignFlexCenter;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;

        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }
  }
  &-attr {
    position: fixed;
    right: 0;
    bottom: 0;
    a {
      text-decoration: 0;
      color: white;
      font-size: 0.5rem;
    }
  }
}
